<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Properties>
        <Property name="logPath">log</Property>
    </Properties>
    <Appenders>
        <Console name="ConsoleOutput" target="SYSTEM_OUT">
            <PatternLayout pattern="%d %p %m %ex%n"/>
        </Console>
        <RollingFile
            name="FileOutput"
            filePattern="${logPath}/%d{yyyyMMdd_HHmmss}.log"
            immediateFlush="true">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} %5p{length=5} - %c{1} %m %ex%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
            </Policies>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="debug">
            <AppenderRef ref="FileOutput"/>
            <AppenderRef ref="ConsoleOutput"/>
        </Root>
    </Loggers>
</Configuration>